<h3 class="breadcrumb"><%= breadcrumb %></h3>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="name">Title</label>
    <div class="controls">
      <input type="text" id="name" placeholder="Title"  maxlength="30">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="author">Author</label>
    <div class="controls">
      <input type="text" id="author" placeholder="Author"  maxlength="30">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="genre">Genre</label>
    <div class="controls">
      <select id="genre">
        <option>fantasy</option>
        <option>scifi</option>
        <option>it</option>
      </select>
    </div>
  </div>

   <div class="control-group">
    <label class="control-label" for="isbn">ISBN</label>
    <input type="text" id="isbn" placeholder="ISBN"  maxlength="20">
  </div>
</div>

  <div class="control-group">
    <label class="control-label" for="price">Price</label>
    <input type="text" id="price" placeholder="Price"  maxlength="8">
  </div>
</div>

<div class="control-group">
    <label class="control-label" for="pages">Pages</label>
    <input type="text" id="pages" placeholder="Pages"  maxlength="6">
  </div>
</div>

<div class="control-group">
    <label class="control-label" for="cats">Category</label>
    <input type="text" id="cats" placeholder="Category"  maxlength="20">
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <button type="submit" id="submit" class="btn btn-primary"> <i class="glyphicon-plus "></i> Add to library</button>
  </div>
</div>
</form>
