<div id="index-template" class="row">

<% items.each(function(item){ %>
<div class="book-item">

  <i class="icon-book"></i><h3><%- item.get('name') %><span > (<%- item.get('id')%>)</span></h3>
  <span class="text-info" id="author"><%- item.get('author') %></span>
<p>
  <span class ="btn btn-default" id="genre_s"><%- item.get('genre_s').toUpperCase() %></span>
<span class ="btn btn-default" id="price">&pound;<%- item.get('price') %></span>
<% if(!!item.get('series_t')) { %><span class ="btn btn-default" id="series_t"><%- item.get('series_t') %></span><%}%>


</p>

     <a class="btn btn-success" id="<%- item.get('id') %>">Add to favourites </a>
</div>

<% }); %>

</div>


